.cards {
  padding-top: 176px;
  padding-bottom: 134px;

  background: #FFFBD8;

  &__container {
    max-width: 1201px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 34px;
  }

  .card {
    &__wrap-top {
      position: relative;
      display: flex;
      margin-bottom: 58px;
    }

    &__wrap-top::before {
      content: "";
      position: absolute;

      background-image: url(../img/card-bg.webp);
      background-repeat: no-repeat;
      top: -66px;
      left: -68px;
      width: 208px;
      height: 221px;
      z-index: 1;
    }

    &__wrap-top::after {
      content: "";
      position: absolute;
      background-image: url(../img/for-cards.webp);
      background-repeat: no-repeat;
      bottom: -37px;
      left: 0px;
      width: 23px;
      height: 23px;
      z-index: 1;
    }

    &__wrap-top img {
      z-index: 5;
    }

    &__top-descr {
      padding-left: 33px;
      padding-top: 12px;
    }

    &__title {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: var(--brown-color);
    }

    &__top-descr span {
      font: 400 14px/17px 'Montserrat', sans-serif;
      color: var(--brown-color);
    }

    &__wrap-bottom {
      padding-left: 29px;
      max-width: 90%;
    }

    &__txt {
      // font: 400 16px/20px Montserrat,sans-serif;

      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: var(--brown-color);
    }
  }
}

@media (max-width: 1075px) {
  .cards {

    &__list {
      column-gap: 18px;
    }

    .card {

      &__wrap-top {
        margin-bottom: 12px;
      }

      &__wrap-top::before,
      &__wrap-top::after {
        display: none;
      }

      &__top-descr {
        padding-left: 15px;
      }

      &__wrap-bottom {
        padding: 0;
        max-width: 100%;
      }
    }
  }


}

@media (max-width: 1000px) {
  .cards {
    padding-top: calc(40px + 136 * (100vw - 320px)/ 680);
    padding-bottom: calc(40px + 101 * (100vw - 320px)/ 680);
  }
}

@media (max-width: 899px) {
  .cards {


    &__list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }
  }
}

@media (max-width: 600px) {
  .cards {

    &__container {
      padding: 0 10px;
    }


    &__list {
      grid-template-columns: 1fr;
      grid-row: 1;
      column-gap: 0;
      row-gap: 25px;
    }
  }
}